In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans, k_means

In [20]:
#had to remove some comment rows from the top, hence the header parameter
df = pd.read_csv('./datasets/exo_planets_filtered.csv', engine = 'python',header =  80)

In [21]:
df.head(80)

,loc_rowid,sy_snum,sy_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,pl_orbsmax,pl_orbsmaxerr1,pl_orbsmaxerr2,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
0,1,2,1,326.030000,0.320000,-0.320000,0.0,1.29000,0.05000,-0.0500,...,-1.9238,4.72307,0.023,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848
1,2,1,1,516.219970,3.200000,-3.200000,0.0,1.53000,0.07000,-0.0700,...,-1.9765,5.01300,0.005,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903
2,3,1,1,185.840000,0.230000,-0.230000,0.0,0.83000,NaN,NaN,...,-0.7140,5.23133,0.023,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826
3,4,1,1,1773.400020,2.500000,-2.500000,0.0,2.93000,0.08000,-0.0800,...,-0.0073,6.61935,0.023,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351
4,5,3,1,798.500000,1.000000,-1.000000,0.0,1.66000,0.03000,-0.0300,...,-0.0111,6.21500,0.016,-0.016,4.651,0.016,-0.016,6.06428,0.000603,-0.000603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,1,1,3.768100,0.000300,-0.000300,0.0,0.04610,0.00080,-0.0008,...,-52.1900,16.29000,0.320,-0.320,12.472,0.054,-0.054,15.43680,0.000524,-0.000524
76,77,1,1,1.900069,0.000003,-0.000003,0.0,0.02950,0.00160,-0.0016,...,-25.7840,14.86800,0.172,-0.172,13.014,0.030,-0.030,14.80090,0.001211,-0.001211
77,78,1,1,3.897130,0.000020,-0.000020,0.0,0.05180,0.00080,-0.0008,...,-25.0710,14.13500,0.149,-0.149,11.837,0.024,-0.024,13.78310,0.000558,-0.000558
78,79,2,1,1.742994,0.000001,-0.000001,0.0,0.02798,0.00076,-0.0008,...,-2.4300,12.51600,0.092,-0.092,10.310,0.031,-0.031,12.24890,0.000911,-0.000911
79,80,1,2,9.242850,0.000300,-0.000300,0.0,0.09000,0.00200,-0.0020,...,-22.8830,14.63000,0.092,-0.092,12.513,0.029,-0.029,14.46860,0.000412,-0.000412

In [22]:
df = df.drop(columns = 'pl_bmassprov')

In [23]:
df = df.drop(columns = 'loc_rowid')

In [24]:
df = df.drop(columns = ['rastr','decstr'])

In [25]:
df.shape

(4352, 73)

In [26]:
df.to_csv('./exoplanet_data.csv', index = False)

In [27]:
df.shape

(4352, 73)

In [28]:
df.dtypes

sy_snum             int64
sy_pnum             int64
pl_orbper         float64
pl_orbpererr1     float64
pl_orbpererr2     float64
                   ...
sy_kmagerr1       float64
sy_kmagerr2       float64
sy_gaiamag        float64
sy_gaiamagerr1    float64
sy_gaiamagerr2    float64
Length: 73, dtype: object

In [29]:
df.isna().sum()

sy_snum             0
sy_pnum             0
pl_orbper         140
pl_orbpererr1     319
pl_orbpererr2     319
                 ...
sy_kmagerr1       134
sy_kmagerr2       148
sy_gaiamag        153
sy_gaiamagerr1    158
sy_gaiamagerr2    158
Length: 73, dtype: int64

In [30]:
baseline_data = df.dropna()

In [31]:
ss = StandardScaler()
X_scaled = ss.fit_transform(baseline_data)

In [32]:

model = KMeans(n_clusters=3, random_state=0)
model.fit(X_scaled)

KMeans(n_clusters=3, random_state=0)

In [33]:
silhouette_score(X_scaled, model.labels_)

0.2789721322793714

In [34]:
df.to_csv('./datasets/exoplanet_data.csv', index = False)